configs:
  cm:
    admin.enabled: "false"
    accounts.{{ argo_admin_user }}: login
  secret:
    extra:
      "accounts.{{ argo_admin_user }}.password": "{{ argocd_admin_password_hash }}"
server:
  service:
    type: NodePort
    nodePortHttp: 30809
    nodePortHttps: 30808
