apiVersion: external-secrets.io/v1
kind: SecretStore
metadata:
  name: oci-vault-store
  namespace: "{{ item }}"
spec:
  provider:
    oracle:
      vault: "{{ vault_ocid }}"
      region: "{{ oci_region | default('eu-frankfurt-1') }}"
